@mixin blog_500 {
  @media only screen and (max-width: 500px) {
    @content;
  }
}
.blog_posts_1 {
  .posts_head {
    font-family: "NotoSansGeorgian_SemiBold", "NotoSans_semibold","sans-serif";
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid #2b2b2b80;
    font-size: 16px;
    padding: 0px 0px 10px 0px;
    max-height: 34px;
  }
  .blogpost_card {
    width: 50%;
    padding: 15px;
  }
  .outer_div {
    border-radius: 1px;
    height: 252px;
    overflow: hidden;
    width: 100%;
    .post_image {
      width: 100%;
      height: 252px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      display: flex;
      justify-content: flex-end;
      color: #fff;
      transition: all 0.5s;
    }
    .onhover_background {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 252px;
      padding: 20px;
      display: flex;
      justify-content: flex-end;
      &:hover {
        background-color: #00000033;
      }
      &:hover + .post_image {
        transform: scale(1.1);
      }
    }
    .on_post_image {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      div {
        font-family:  "NotoSans_bold","NotoSansGeorgian_bold","sans-serif";
        color: "#fff";
        font-size: 30px;
        line-height: 1;
        text-shadow: 0px 6px 14px #0000006c;
        font-weight: bold;
      }
      p {
        font-family:  "NotoSansGeorgian_bold", "NotoSans_bold","sans-serif";
        color: "#fff";
        text-shadow: 0px 6px 14px #0000006c;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .card {
    border: none;
    .card-body {
      padding: 1rem 0 0 0;
      .card-title {
        font-size: 18px;
        font-family:  "NotoSansGeorgian_SemiBold", "NotoSans_bold","sans-serif";
        font-weight: 700;
      }
      .card-text {
        color: #6a6a6a;
        font-size: 16px;
        text-overflow: ellipsis;
        height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @include blog_500 {
    .blogpost_card {
      width: 100%;
      padding: 15px;
    }
  }
}
// .blog_posts_right{
//   padding-left: 15px;
//   @media only screen and (min-width: 992px) {
//     padding-left: 0;
//   }
// }
