@mixin blog_part_1_992 {
  @media only screen and (max-width: 992px) {
    @content;
  }
}
@mixin blog_part_1_500 {
  @media only screen and (max-width: 500px) {
    @content;
  }
}
.subscribe {
  .sticky {
    position: fixed;
    top: 60px;
    flex-direction: column;
  }
}
.subscribe_div {
  margin-bottom: 9px;
  border-radius: 1px;
  width: 100%;
  height: 300px;
  border: 1px solid #efae5e;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  h3 {
    font-family: "NotoSansGeorgian_bold", "NotoSans_bold", "sans-serif";
    font-size: 24px;
    line-height: 1.5;
    padding: 0 0px;
    color: #2b2b2b;
  }
  p {
    font-size: 16px;
    // line-height: 1;
    padding: 0 10px;
    color: #6a6a6a;
  }
  .gmail_input {
    .form-label {
      float: left;
      font-size: 14px;
    }
    .input-group {
      height: 48px;
    }
    .form-control {
      height: calc(2.5em + 0.75rem + 2px);
      border-radius: 0rem;
      &:focus {
        outline: none !important;
        box-shadow: none;
        border-color: #efae5e !important;
      }
    }

    .input-group-text {
      padding: 12px !important;
      padding-right: 10px;
      padding-left: 14px;
      background-color: #efae5e;
      color: #fff;
      border: none;
      padding: 1rem 1rem;
    }
  }
}

.joincomunity_div {
  width: 100%;
  height: 300px;
  border: 1px solid #efae5e;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  h3 {
    font-family: "NotoSansGeorgian_bold", "NotoSans_bold", "sans-serif";
    color: #2b2b2b;
    font-size: 24px;
    line-height: 1.5;
    padding: 0 10px;
  }
  p {
    font-size: 16px;
    // line-height: 1;
    padding: 0 10px;
    color: #6a6a6a;
  }
  .area_circle_logo {
    height: 80px;
    width: 80px;
    border: 1px solid #97979727;
    border-radius: 50%;
    box-shadow: 0px 3px 5px #00000017;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 24px;
    img {
      width: 100%;
    }
  }
  .joincomunity_button {
    width: 100%;
    
    button {
      border: none;
      border-radius: 0;
      background-color: #efae5e;
      font-size: 16px;
      font-weight: 400;
      height: 48px;
    }
    a {
      border: 1px solid #efae5e;
      border-radius: 0;
      background-color: #efae5e;
      font-size: 16px;
      font-weight: 400;
      height: 48px;
    }
  }
}

.padding_div {
  padding: 0px 15px;
  max-width: 380px;

  @include blog_part_1_992 {
    padding: 15px;
    width: 50%;
    display: flex;
  }
  @include blog_part_1_500 {
    padding: 0px 15px;
    width: 100%;
    // display: flex;
  }
}

.posts_head {
  @include blog_part_1_992 {
    margin-top: 30px;
  }
  @include blog_part_1_500 {
    margin-top: 30px;
  }
}
