@import './navbar';
@import './_blog_part1';
@import './_blog_posts';
@import './_subscribe';
@import './_footer';
@import './guide_section1';
@import './guide_section2';
@import './innerguide';
@import './innerpost';
@import './Search';
@import './loading';
@import './_new_footer';

@font-face {
  src: url(../fonts/NotoSansGeorgian-Regular.ttf);
  font-family: NotoSansGeorgian_regular;
}
@font-face {
  src: url(../fonts/NotoSansGeorgian-Bold.ttf);
  font-family: NotoSansGeorgian_bold;
}
@font-face {
  src: url(../fonts/NotoSansGeorgian-SemiBold.ttf);
  font-family: NotoSansGeorgian_SemiBold;
}
@font-face {
  src: url(../fonts/NotoSans-Bold.ttf);
  font-family: NotoSans_bold;
}
@font-face {
  src: url(../fonts/NotoSans-Regular.ttf);
  font-family: NotoSans_regular;
}

body {
  font-family: 'NotoSansGeorgian_regular', 'NotoSans_regular', 'sans-serif';
  .title {
    color: rgb(0, 0, 0);
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
  .loading {
    display: flex;
    justify-content: center;
    align-self: center;
    top: 50%;
    left: 40%;
  }
}

.show_more_button {
  width: 100%;
  display: flex;
  justify-content: center;
  .showmore {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 336px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #2b2b2b;
    }
    p {
      margin: 0;
      margin-left: 5px;
      font-size: 16px;
    }
    .text-warning {
      color: #efae5e !important;
    }
  }
}

.content {
  html {
    img {
      width: 100%;
      height: auto;
    }
    ol {
      padding: 0px 0px 0px 15px;
    }
  }
}

@mixin max_width_500 {
  @media only screen and (max-width: 600px) {
    @content;
  }
}
.socials_main {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  .socials {
    margin-bottom: 20px;
    display: flex;
    .social_count {
      display: flex;
      flex-direction: column;
      margin-right: 15px;
      @include max_width_500 {
        font-size: 12px;
      }
      .myShareCountWrapper {
        font-family: 'NotoSans_bold', 'NotoSansGeorgian_bold', 'sans-serif';
        font-size: 30px;
        font-weight: 900;
        line-height: 0.8;
        @include max_width_500 {
          font-size: 16px;
        }
      }
    }
    .line {
      height: 52px;
      width: 2px;
      background-color: #d8d8d8;
      margin: 0px 4px 0px 4px;
      @include max_width_500 {
        height: 32px;
      }
    }
    .socials_margin {
      margin: 0px 4px 0px 4px;
      width: 48px;
      height: 48px;
      @include max_width_500 {
        width: 32px;
        height: 32px;
      }
    }
  }
  .link {
    margin-left: 4px;
    width: 205px;
    height: 48px;
    display: flex;
    align-items: center;
    border: 1px solid #d0d0d0;
    border-radius: 1px;
    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
    @include max_width_500 {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .tooltiptext {
      margin-top: -50px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
      visibility: hidden;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s;
    }
    .icon {
      color: #efae5e;
      font-size: 24px;
      margin: 0px 8px 0px 8px;
      @include max_width_500 {
        margin: 0px 2px 0px 2px;
      }
    }
    textarea {
      height: 30px;
      margin: 0px;
      color: #d0d0d0;
      border: none;
      overflow: hidden;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      resize: none; /*remove the resize handle on the bottom right*/
      @include max_width_500 {
        display: none;
      }
    }
  }
}

.fb-save * {
  // opacity: 0;
  html {
    height: 52px !important;
  }
  iframe {
    body {
      ._2tga._3e2a {
        height: 52px !important;
      }
    }
    opacity: 0.01;
    width: 52px !important;
    height: 52px !important;
  }
}

.new_loader {
  width: 12px;
  height: 12px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.scroll {
  transition: all 0.5s;
  @include max_width_500 {
    position: unset !important;
  }
}

.subscribe {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
