.navbar_main {
  top: 0;
  width: 100%;
  height: 64px;
  -webkit-box-shadow: 0px 2px 4px #0000001a;
          box-shadow: 0px 2px 4px #0000001a;
  position: fixed;
  z-index: 9;
  background-color: #fff;
}

.navbar_main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar_main .container .search {
  margin-left: 60px;
  cursor: pointer;
}

.navbar_main .container .logo {
  width: 110px;
}

.navbar_main .container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

@media only screen and (max-width: 992px) {
  .navbar_main .container .socials {
    visibility: hidden;
  }
}

.navbar_main .container .header_icons {
  opacity: 0.7;
  font-size: 20px;
}

.navbar_main .container .facebook:hover {
  color: #0059ff;
}

.navbar_main .container .instagram_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  margin-right: 7px;
}

.navbar_main .container .instagram_div:hover svg * {
  fill: url(#rg);
}

.navbar_main .container .linkedin:hover {
  color: #0077b5;
}

.blog_guide {
  font-family: "NotoSansGeorgian_bold", 'Noto Sans';
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #d8d8d8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
  z-index: 1;
}

.blog_guide a {
  height: 100%;
}

.blog_guide a:hover {
  text-decoration: none;
}

.blog_guide li {
  list-style: none;
  color: #6a6a6a;
  padding: 0px 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.blog_part_1 {
  margin-bottom: 30px;
}

.blog_part_1 .blog_part_1_left {
  padding-right: 12px;
  padding-left: 12px;
}

.blog_part_1 .blog_part_1_left .outer_div_first_section {
  border-radius: 1px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.blog_part_1 .blog_part_1_left .outer_div_first_section .image_div {
  width: 100%;
  height: 528px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 500px) {
  .blog_part_1 .blog_part_1_left .outer_div_first_section .image_div {
    height: 200px;
  }
}

.blog_part_1 .blog_part_1_left .outer_div_first_section .gradient {
  position: absolute;
  height: 528px;
  width: 100%;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  padding: 30px;
}

.blog_part_1 .blog_part_1_left .outer_div_first_section .gradient:hover {
  background-color: #00000033;
}

.blog_part_1 .blog_part_1_left .outer_div_first_section .gradient:hover + .image_div {
  background-color: #00000033;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog_part_1 .blog_part_1_left .outer_div_first_section .gradient h2 {
  font-family: "NotoSansGeorgian_SemiBold", "NotoSans_semibold","sans-serif";
  font-size: 30px;
  color: #fff;
}

.blog_part_1 .blog_part_1_left .outer_div_first_section .gradient h5 {
  color: #fff;
  font-size: 16px;
  font-family: "NotoSansGeorgian_regular", "NotoSans_regular","sans-serif";
  max-height: 38px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 500px) {
  .blog_part_1 .blog_part_1_left .outer_div_first_section .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #fff;
    padding: 10px;
  }
  .blog_part_1 .blog_part_1_left .outer_div_first_section .gradient h2 {
    font-size: 18px;
    font-weight: 600;
  }
}

.blog_part_1 .blog_part_1_right {
  padding-right: 15px;
  padding-left: 12px;
}

.blog_part_1 .blog_part_1_right a {
  width: 100%;
  margin-bottom: 24px;
}

.blog_part_1 .blog_part_1_right .row {
  margin: 0px 0px;
}

@media only screen and (max-width: 992px) {
  .blog_part_1 .blog_part_1_right a {
    width: 50%;
    padding: 15px;
  }
  .blog_part_1 .blog_part_1_right .row {
    margin: 0px -15px;
  }
}

@media only screen and (max-width: 500px) {
  .blog_part_1 .blog_part_1_right a {
    width: 100%;
    padding: 15px;
    margin-bottom: 0px;
  }
  .blog_part_1 .blog_part_1_right .row {
    margin-right: -15px;
  }
}

.blog_part_1 .blog_part_1_right .outer_div_first_section {
  border-radius: 1px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.blog_part_1 .blog_part_1_right .outer_div_first_section .image_div {
  width: 100%;
  height: 252px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 500px) {
  .blog_part_1 .blog_part_1_right .outer_div_first_section {
    height: 200px;
  }
}

.blog_part_1 .blog_part_1_right .outer_div_first_section .gradient {
  position: absolute;
  height: 528px;
  width: 100%;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  padding: 15px;
}

.blog_part_1 .blog_part_1_right .outer_div_first_section .gradient:hover {
  background-color: #00000033;
}

.blog_part_1 .blog_part_1_right .outer_div_first_section .gradient:hover + .image_div {
  background-color: #00000033;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog_part_1 .blog_part_1_right .outer_div_first_section .gradient h2 {
  font-size: 18px;
  font-family: "NotoSansGeorgian_SemiBold", "NotoSans_semibold","sans-serif";
  color: #fff;
}

.blog_part_1 .blog_part_1_right .outer_div_first_section .gradient h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  max-height: 38px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-light {
  font-family: "NotoSansGeorgian_bold", "NotoSans_bold","sans-serif";
  font-size: 14px;
}

.btn-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.blog_posts_left {
  padding-right: 12px;
  padding-left: 12px;
}

.blog_posts_left .row {
  margin-right: -12px;
  margin-left: -12px;
}

.blog_posts_1 .posts_head {
  font-family: "NotoSansGeorgian_SemiBold", "NotoSans_semibold", "sans-serif";
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #2b2b2b80;
  font-size: 16px;
  padding: 0px 0px 10px 0px;
  height: 34px;
  max-height: 34px;
}

.blog_posts_1 .blogpost_card {
  width: 50%;
  padding: 12px;
}

.blog_posts_1 .outer_div {
  border-radius: 1px;
  height: 252px;
  overflow: hidden;
  width: 100%;
}

.blog_posts_1 .outer_div .post_image {
  width: 100%;
  height: 252px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog_posts_1 .outer_div .onhover_background {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 252px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog_posts_1 .outer_div .onhover_background:hover {
  background-color: #00000033;
}

.blog_posts_1 .outer_div .onhover_background:hover + .post_image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog_posts_1 .outer_div .on_post_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.blog_posts_1 .outer_div .on_post_image div {
  font-family: "NotoSans_bold", "NotoSansGeorgian_bold", "sans-serif";
  color: "#fff";
  font-size: 30px;
  line-height: 1;
  text-shadow: 0px 6px 14px #0000006c;
  font-weight: bold;
}

.blog_posts_1 .outer_div .on_post_image p {
  font-family: "NotoSansGeorgian_bold", "NotoSans_bold", "sans-serif";
  color: "#fff";
  text-shadow: 0px 6px 14px #0000006c;
  font-size: 16px;
  font-weight: bold;
}

.blog_posts_1 .card {
  border: none;
}

.blog_posts_1 .card .card-body {
  padding: 1rem 0 0 0;
}

.blog_posts_1 .card .card-body .card-title {
  font-size: 18px;
  font-family: "NotoSansGeorgian_SemiBold", "NotoSans_bold", "sans-serif";
  font-weight: 700;
}

.blog_posts_1 .card .card-body .card-text {
  color: #6a6a6a;
  font-size: 16px;
  text-overflow: ellipsis;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 500px) {
  .blog_posts_1 .blogpost_card {
    width: 100%;
    padding: 15px;
  }
}

.blog_posts_right {
  padding-right: 12px;
  padding-left: 12px;
}

.subscribe .sticky {
  position: fixed;
  top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe_div {
  margin-bottom: 9px;
  border-radius: 1px;
  width: 100%;
  height: 300px;
  border: 1px solid #efae5e;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  text-align: center;
}

.subscribe_div h3 {
  font-family: "NotoSansGeorgian_bold", "NotoSans_bold", "sans-serif";
  font-size: 24px;
  line-height: 1.5;
  padding: 0 0px;
  color: #2b2b2b;
}

.subscribe_div p {
  font-size: 16px;
  padding: 0 10px;
  color: #6a6a6a;
}

.subscribe_div .gmail_input .form-label {
  float: left;
  font-size: 14px;
}

.subscribe_div .gmail_input .input-group {
  height: 48px;
}

.subscribe_div .gmail_input .form-control {
  height: calc(2.5em + 0.75rem + 2px);
  border-radius: 0rem;
}

.subscribe_div .gmail_input .form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #efae5e !important;
}

.subscribe_div .gmail_input .input-group-text {
  padding: 12px !important;
  padding-right: 10px;
  padding-left: 14px;
  background-color: #efae5e;
  color: #fff;
  border: none;
  padding: 1rem 1rem;
}

.joincomunity_div {
  width: 100%;
  height: 300px;
  border: 1px solid #efae5e;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.joincomunity_div h3 {
  font-family: "NotoSansGeorgian_bold", "NotoSans_bold", "sans-serif";
  color: #2b2b2b;
  font-size: 24px;
  line-height: 1.5;
  padding: 0 10px;
}

.joincomunity_div p {
  font-size: 16px;
  padding: 0 10px;
  color: #6a6a6a;
}

.joincomunity_div .area_circle_logo {
  height: 80px;
  width: 80px;
  border: 1px solid #97979727;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 5px #00000017;
          box-shadow: 0px 3px 5px #00000017;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin-bottom: 24px;
}

.joincomunity_div .area_circle_logo img {
  width: 100%;
}

.joincomunity_div .joincomunity_button {
  width: 100%;
}

.joincomunity_div .joincomunity_button button {
  border: none;
  border-radius: 0;
  background-color: #efae5e;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
}

.joincomunity_div .joincomunity_button a {
  border: 1px solid #efae5e;
  border-radius: 0;
  background-color: #efae5e;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
}

.padding_div {
  padding: 0px 15px;
  max-width: 380px;
}

@media only screen and (max-width: 992px) {
  .padding_div {
    padding: 15px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  .padding_div {
    padding: 0px 15px;
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .posts_head {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .posts_head {
    margin-top: 30px;
  }
}

.footer_main {
  width: 100%;
  height: 100px;
  margin-top: 80px;
  background-color: #000000;
}

.footer_main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media only screen and (max-width: 992px) {
  .footer_main .container {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
  }
}

@media only screen and (max-width: 992px) {
  .footer_main .container .logo {
    display: none;
  }
}

.footer_main .container .line {
  display: none;
}

@media only screen and (max-width: 992px) {
  .footer_main .container .line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 15px 0px 15px 0px;
  }
}

.footer_main .container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  color: #fff;
}

.footer_main .container .socials a {
  color: #fff;
}

.footer_main .container .rights {
  color: #7a7a7a;
}

.guide {
  border-radius: 1px;
  width: 100%;
  height: 252px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  margin-bottom: 24px;
}

.guide .guide_text_on_image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #00000080;
  padding: 20px;
  color: #fff;
}

.guide .guide_text_on_image h2 {
  font-family: "NotoSansGeorgian_bold", "NotoSans_bold", "sans-serif";
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 16px;
}

.guide .guide_text_on_image .description {
  color: #fff;
  max-height: 70px;
  overflow: hidden;
}

.GuideFirstSection .row .category {
  padding-right: 12px;
  padding-left: 12px;
}

.filter_div {
  font-family: "NotoSansGeorgian_bold", "Noto Sans";
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d8d8d8;
  height: 35px;
  overflow: scroll;
}

.filter_div::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  height: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.filter_div .filter {
  font-size: 16px;
  font-weight: 700;
}

.filter_div ul {
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.filter_div ul li {
  color: #6a6a6a;
  margin: 0px 5px;
  padding: 0px 10px;
  height: 100%;
  cursor: pointer;
}

.filter_div ul li p {
  margin: 0px;
}

.guide_filter_header {
  font-size: 32px;
  font-family: "NotoSansGeorgian_bold", "Noto Sans";
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 38px;
}

@media only screen and (max-width: 500px) {
  .guide_filter_header {
    font-size: 24px;
  }
}

.inner_guide_img {
  width: 100%;
  height: 530px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  margin-top: -15px;
  margin-bottom: 30px;
}

.inner_guide_img .inner_guide_on_img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.inner_guide_img .inner_guide_on_img h1 {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 24px;
}

.inner_guide_img .inner_guide_on_img p {
  max-width: 600px;
}

.inner_post_section1_div {
  font-family: "NotoSansGeorgian_bold", "NotoSans_bold","sans-serif";
  font-size: 30px;
  font-weight: 900;
  max-width: 630px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.inner_post_section1 {
  width: 100%;
  height: 530px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  margin-bottom: 24px;
  margin-top: 15px;
}

.inner_post_section1 .inner_post_section1_on_img {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.151);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30px;
}

.inner_post_section1 p {
  overflow: auto;
}

.related .outer_div {
  border-radius: 1px;
  height: 252px;
  overflow: hidden;
  width: 100%;
}

.related .outer_div .post_image {
  width: 100%;
  height: 252px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.related .outer_div .onhover_background {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 252px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.related .outer_div .onhover_background:hover {
  background-color: #00000033;
}

.related .outer_div .onhover_background:hover + .post_image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.related .outer_div .on_post_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: #fff;
}

.related .outer_div .on_post_image div {
  color: '#fff';
  font-size: 30px;
  line-height: 1;
  text-shadow: 0px 6px 14px #0000006c;
}

.related .outer_div .on_post_image p {
  color: '#fff';
  text-shadow: 0px 6px 14px #0000006c;
  font-size: 16px;
}

.related .hidden_related {
  display: none;
}

@media only screen and (max-width: 992px) {
  .related .hidden_related {
    display: block;
  }
}

.related .inner_related {
  padding-right: 12px;
  padding-left: 12px;
}

@media only screen and (max-width: 992px) {
  .related .inner_related .outer_div {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .related .inner_related .for_relater_responsive {
    position: absolute;
    z-index: 1;
    margin-top: -142px;
    color: white;
    margin-left: 19px;
    max-height: 115px;
    overflow: hidden;
  }
  .related .inner_related .for_relater_responsive p {
    color: #fff !important;
  }
}

.related .related_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 60px;
  margin-left: -4px;
}

.related .related_title div {
  font-size: 20px;
  font-family: "NotoSansGeorgian_bold", "NotoSans_bold","sans-serif";
}

.related .related_title .line {
  height: 2px;
  background-color: #d8d8d8;
  width: 76%;
  margin-right: -4px;
}

@media only screen and (max-width: 992px) {
  .related .related_title .line {
    width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .related .related_title .line {
    width: 20%;
  }
}

.related .blogpost_card {
  width: 100%;
}

.related .blogpost_card .post_image {
  width: 100%;
  height: 252px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
}

.related .blogpost_card .post_image .on_post_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.related .blogpost_card .post_image .on_post_image div {
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
}

.related .blogpost_card .post_image .on_post_image p {
  font-size: 16px;
  font-weight: 500;
}

.related .blogpost_card .card {
  border: none;
}

.related .blogpost_card .card .card-body {
  padding: 1rem 0 0 0;
}

.related .blogpost_card .card .card-body .card-title {
  font-family: "NotoSansGeorgian_SemiBold", "NotoSans_SemiBold","sans-serif";
  font-size: 18px;
  font-weight: 700;
}

.related .blogpost_card .card .card-body .card-text {
  color: #6A6A6A;
  font-size: 16px;
  font-weight: 400;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search_div {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}

.search_div .exit {
  float: right;
  color: #fff;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}

.search_div .search_input {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_div .search_input input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding-bottom: 16px;
}

.search_div .search_input input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search_div .search_input .searched_items {
  height: 30vh;
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

.search_div .search_input .searched_items::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.search_div .search_input .searched_items .item {
  cursor: pointer;
}

.search_div .search_input .searched_items a {
  color: #8c8c8c;
}

.search_div .search_input .searched_items a:hover {
  border: 0.1px solid #ffffff30;
}

.search .posts_head input {
  width: 70%;
  border: none;
  background: transparent;
}

.search .posts_head input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search_inner_post_link {
  width: 100%;
}

.SearchedPost {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.SearchedPost .image {
  width: 100%;
  height: 165px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #00000080;
}

.SearchedPost .text h4 {
  max-width: 100%;
}

.SearchedPost .text p {
  color: #6a6a6a;
  max-width: 100%;
  height: 120px;
  overflow: hidden;
}

.page-link {
  border: none;
  color: #959595;
  background-color: rgba(239, 174, 94, 0);
}

.page-link:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-link:hover {
  background-color: rgba(239, 174, 94, 0);
  color: #EFAE5E;
  border-radius: 1px;
}

.page-item.active .page-link {
  color: #EFAE5E;
  background-color: #ffffff;
  border: 1px solid #EFAE5E;
  border-radius: 1px;
}

.spinner {
  margin: 0px auto 100px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 14px;
  height: 14px;
  background-color: #efae5e;
  margin: 4px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.footer_ {
  width: 100%;
  margin-top: 80px;
  background-color: #000000;
}

.footer_ .socials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_ .socials a {
  color: #fff;
  font-size: 16px;
  margin: 16px;
  margin-right: 12px;
  margin-left: 12px;
}

@media only screen and (min-width: 500px) {
  .footer_ .socials {
    display: none;
  }
}

.footer_ .content {
  width: 100%;
}

.footer_ .content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_ .content .container .colums {
  color: #fff;
  margin-bottom: 10px;
}

.footer_ .content .container .colums .location_colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer_ .content .container .colums .footer_headers {
  margin-bottom: 24px;
  margin-top: 24px;
  font-family: NotoSansGeorgian_bold;
}

.footer_ .content .container .location .colum {
  padding-right: 32px;
}

.footer_ .content .container .location .colum div {
  margin-bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer_ .content .container .location .colum a {
  font-family: NotoSansGeorgian_Regular;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 19px;
}

.footer_ .content .container .location .contact {
  padding-right: 9px;
}

.footer_ .content .container .location .contact div {
  margin-bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer_ .content .container .location .contact a {
  font-family: NotoSansGeorgian_Regular;
  font-size: 18px;
  color: white;
  line-height: 19px;
}

.footer_ .content .container .location .contact_text {
  padding-right: 0px;
}

.footer_ .content .container .location .contact_text div {
  margin-bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer_ .content .container .location .contact_text a {
  font-family: NotoSans_regular;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 19px;
}

@media only screen and (max-width: 500px) {
  .footer_ .content {
    display: none;
  }
}

.footer_ .rights_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.footer_ .rights_container .rights {
  color: #7a7a7a;
}

@media only screen and (max-width: 992px) {
  .real_estate {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .real_estate {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .loc {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .loc {
    display: none;
  }
}

@font-face {
  src: url(../fonts/NotoSansGeorgian-Regular.ttf);
  font-family: NotoSansGeorgian_regular;
}

@font-face {
  src: url(../fonts/NotoSansGeorgian-Bold.ttf);
  font-family: NotoSansGeorgian_bold;
}

@font-face {
  src: url(../fonts/NotoSansGeorgian-SemiBold.ttf);
  font-family: NotoSansGeorgian_SemiBold;
}

@font-face {
  src: url(../fonts/NotoSans-Bold.ttf);
  font-family: NotoSans_bold;
}

@font-face {
  src: url(../fonts/NotoSans-Regular.ttf);
  font-family: NotoSans_regular;
}

body {
  font-family: 'NotoSansGeorgian_regular', 'NotoSans_regular', 'sans-serif';
}

body .title {
  color: black;
  text-decoration: none;
}

body .title:hover {
  text-decoration: none;
  color: black;
}

body .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  top: 50%;
  left: 40%;
}

.show_more_button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show_more_button .showmore {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 336px;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.show_more_button .showmore:hover {
  background-color: #2b2b2b;
}

.show_more_button .showmore p {
  margin: 0;
  margin-left: 5px;
  font-size: 16px;
}

.show_more_button .showmore .text-warning {
  color: #efae5e !important;
}

.content html img {
  width: 100%;
  height: auto;
}

.content html ol {
  padding: 0px 0px 0px 15px;
}

.socials_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.socials_main .socials {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials_main .socials .social_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 15px;
}

@media only screen and (max-width: 600px) {
  .socials_main .socials .social_count {
    font-size: 12px;
  }
}

.socials_main .socials .social_count .myShareCountWrapper {
  font-family: 'NotoSans_bold', 'NotoSansGeorgian_bold', 'sans-serif';
  font-size: 30px;
  font-weight: 900;
  line-height: 0.8;
}

@media only screen and (max-width: 600px) {
  .socials_main .socials .social_count .myShareCountWrapper {
    font-size: 16px;
  }
}

.socials_main .socials .line {
  height: 52px;
  width: 2px;
  background-color: #d8d8d8;
  margin: 0px 4px 0px 4px;
}

@media only screen and (max-width: 600px) {
  .socials_main .socials .line {
    height: 32px;
  }
}

.socials_main .socials .socials_margin {
  margin: 0px 4px 0px 4px;
  width: 48px;
  height: 48px;
}

@media only screen and (max-width: 600px) {
  .socials_main .socials .socials_margin {
    width: 32px;
    height: 32px;
  }
}

.socials_main .link {
  margin-left: 4px;
  width: 205px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 1px;
}

.socials_main .link:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .socials_main .link {
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.socials_main .link .tooltiptext {
  margin-top: -50px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.socials_main .link .icon {
  color: #efae5e;
  font-size: 24px;
  margin: 0px 8px 0px 8px;
}

@media only screen and (max-width: 600px) {
  .socials_main .link .icon {
    margin: 0px 2px 0px 2px;
  }
}

.socials_main .link textarea {
  height: 30px;
  margin: 0px;
  color: #d0d0d0;
  border: none;
  overflow: hidden;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
  /*remove the resize handle on the bottom right*/
}

@media only screen and (max-width: 600px) {
  .socials_main .link textarea {
    display: none;
  }
}

.fb-save * html {
  height: 52px !important;
}

.fb-save * iframe {
  opacity: 0.01;
  width: 52px !important;
  height: 52px !important;
}

.fb-save * iframe body ._2tga._3e2a {
  height: 52px !important;
}

.new_loader {
  width: 12px;
  height: 12px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.scroll {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 600px) {
  .scroll {
    position: unset !important;
  }
}

.subscribe {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=styles.css.map */